<!doctype html>
<html ng-app="todoApp" lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>How to Learn</title>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/index.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="select.js"></script>
      <link rel="stylesheet" href="select.css">
    </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
              <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="">
                  <a href="#needToKnow" id="home-tab" role="tab" data-toggle="tab" aria-controls="needToKnow" aria-expanded="false">
                  Need to Know
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#Web" role="tab" id="Web-tab" data-toggle="tab" aria-controls="Web" aria-expanded="true">
                  Web
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#people" role="tab" id="people-tab" data-toggle="tab" aria-controls="people" aria-expanded="true">
                  People
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#Books" role="tab" id="Books-tab" data-toggle="tab" aria-controls="Books" aria-expanded="true">
                  Books
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#Experience" role="tab" id="Experience-tab" data-toggle="tab" aria-controls="Experience" aria-expanded="true">
                  Experience
                  </a>
                </li>
              </ul>
          </div>

          <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade" id="needToKnow" aria-labelledby="home-tab">
                    <h2>Select</h2>
                    <div ng-controller="TodoListController as todoList">
                        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                        [ <a href="" ng-click="todoList.archive()">archive</a> ]
                        <ul class="unstyled">
                          <li ng-repeat="todo in todoList.todos">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                          </li>
                        </ul>
                        <form ng-submit="todoList.addTodo()">
                          <input type="text" ng-model="todoList.todoText"  size="30"
                            placeholder="add new selection ">
                          <input class="btn-primary" type="submit" value="add">
                        </form>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane fade active in" id="Web" aria-labelledby="Web-tab">
                    <h2>Select</h2>
                    <div ng-controller="TodoListController as todoList">
                        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                        [ <a href="" ng-click="todoList.archive()">archive</a> ]
                        <ul class="unstyled">
                          <li ng-repeat="todo in todoList.todos">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                          </li>
                        </ul>
                        <form ng-submit="todoList.addTodo()">
                          <input type="text" ng-model="todoList.todoText"  size="30"
                            placeholder="add new selection ">
                          <input class="btn-primary" type="submit" value="add">
                        </form>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane fade active in" id="people" aria-labelledby="people-tab">
                    <h2>Select</h2>
                    <div ng-controller="TodoListController as todoList">
                        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                        [ <a href="" ng-click="todoList.archive()">archive</a> ]
                        <ul class="unstyled">
                          <li ng-repeat="todo in todoList.todos">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                          </li>
                        </ul>
                        <form ng-submit="todoList.addTodo()">
                          <input type="text" ng-model="todoList.todoText"  size="30"
                            placeholder="add new selection ">
                          <input class="btn-primary" type="submit" value="add">
                        </form>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane fade active in" id="Books" aria-labelledby="Books-tab">
                    <h2>Select</h2>
                    <div ng-controller="TodoListController as todoList">
                        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                        [ <a href="" ng-click="todoList.archive()">archive</a> ]
                        <ul class="unstyled">
                          <li ng-repeat="todo in todoList.todos">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                          </li>
                        </ul>
                        <form ng-submit="todoList.addTodo()">
                          <input type="text" ng-model="todoList.todoText"  size="30"
                            placeholder="add new selection ">
                          <input class="btn-primary" type="submit" value="add">
                        </form>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane fade active in" id="Experience" aria-labelledby="Experience-tab">
                    <h2>Select</h2>
                    <div ng-controller="TodoListController as todoList">
                        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
                        [ <a href="" ng-click="todoList.archive()">archive</a> ]
                        <ul class="unstyled">
                          <li ng-repeat="todo in todoList.todos">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                          </li>
                        </ul>
                        <form ng-submit="todoList.addTodo()">
                          <input type="text" ng-model="todoList.todoText"  size="30"
                            placeholder="add new selection ">
                          <input class="btn-primary" type="submit" value="add">
                        </form>
                    </div>
              </div>            
          </div>
        </div>       
      </div>

    <script rel="script" src="js/jquery-2.1.4.min.js"></script>
    <script rel="script" src="js/bootstrap.min.js"></script>
  </body>
</html>
